:host {
	display: block;
}

.app-shell {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #f9f4e8;
}

.app-shell.admin-shell-active {
	background: #f5f1e9;
}

.content-area {
	flex: 1;
}

.content-area.admin-content-area {
	min-height: 100vh;
}
